<div class="product">  
  <div class="product-image" id=" {{{ suggestion.objectID }}} "> 
    <img src=" {{{ suggestion.image }}} " alt=" {{{ suggestion.name }}} "/>
  </div> 
  <div class="product-details">  
    <span class="brand"> {{{ suggestion._highlightResult.brand.value }}} </span> 
    <span class="name"> {{{ newName }}} </span> 
    <span class="category">in {{{ category }}} </span> 
    <span class="price"> $ {{{ suggestion.price }}} </span>
   </div>  
</div>
